
.container {
  width: 100%;
  margin:auto;
  align-items: center;
  /* padding-top: 10px; */
}

.sliders {
  position: relative;
  width: 430px;
  height: 260px;
  margin:auto;
  align-items: center;
  justify-content: center;
}

.slider {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width : 1600px){
.sliders {
  position: relative;
  width: 30vw;
  height: 20vw;
  margin:auto;
  align-items: center;
  justify-content: center;
}
}

@media only screen and (max-width : 650px){
  .sliders {
    position: relative;
    width: 60vw;
    height: 40vw; 
  }


}