<div class="aboutPage" [@explainerAnimRight]>
    <div>
        <section class="about">
            <img class="image-project1 anime1" src="../assets/images/about/aboutme1.png" />

            <div class="text-about anime1">
                <div class="name-about">
                    <h1>Phetsavanh</h1>
                    <h5>/pet-sã-vãn/</h5>
                </div>
                <p>
                    Bonjour ! Je m’appelle Phetsavanh.
                </p>
                <p>
                    Je suis une développeuse Web. Passionnée dans le destin UI/UX, les animations d'effets d'interface utilisateur et la création d'expérience utilisateur intuitive et dynamique.
                </p>
                <p>
                    Organisée, aimant les challenges et résoudre les problèmes, attentionnée aux détails.
                </p>
                <p>
                    Fort d'intérêt pour les nouvelles technologies, ainsi que la psychologie permettant de mieux comprendre les réactions humaines et leur donner de nouvelles expériences.
                </p>
                <p>
                    Pratique d'activités en plein air, littératures, philosophie japonaise "Ikigai" et personne familiale.
                </p>


                <h4> Contact</h4>
                <a href="mailto: pphouone@hotmail.fr" target="_blank">pphouone@hotmail.fr </a>
                <h4> Lien</h4>
                <p><a href="https://github.com/baypp07?tab=repositories" target="_blank">Github </a></p>
                <p><a href="../assets/cv/giustiphetsavanh.pdf" target="_blank">Curriculum vitæ </a></p>
            </div>
        </section>

        <section class="skills anime1">
            <h1>Mes compétences Techniques</h1>
            <div class="skill-content">
                <div class="left-section">
                    <p>
                        Je travaille en tant que développeuse des sites web dynamique et statique, mes services destinés aux entreprises et aux consommateurs en créant leurs designs et des expériences pour leurs utilisateurs.
                    </p>
                    <p>
                        Le principal domaine de mon expertise est le développement front-end, la création d'application web, les animations personnalisées & le codage de mise en place interactions.
                    </p>
                    <p>
                        J'ai également une expérience en développement full stack avec Angular, firebase database realtime, SQL et autres, etc.
                    </p>
                    <!-- <p>Je travaille en tant que développeuse d'interface utilisateur et designer d'expérience
                        utilisateur, créant des expériences combinant le développement web, design, business et
                        marketing.</p> -->


                    <h3> Compétences de développeur </h3>
                    <div class="skill-title">
                        <ul *ngFor="let devskill of devskills" class="software">
                            <li> <img class="icon-skill" src="{{devskill.image}}" /> </li>
                            <li>
                                <p>{{devskill.name}} </p>
                            </li>
                        </ul>
                    </div>

                    <h3> Design Software </h3>
                    <div class="skill-title">
                        <ul *ngFor="let software of softwares" class="software">
                            <li> <img class="icon-skill" src="{{software.image}}" /> </li>
                            <li>
                                <p>{{software.name}} </p>
                            </li>
                        </ul>
                    </div>


                </div>

                <div class="right-section">
                    <img class="skill-image-right" src="../assets/images/about/experience.png" />

                    <h3> Compétences </h3>
                    <p>
                        Développement web et application Web/ UX/UI/ Graphic Design/ Digital Marketing / Wireframing /
                        Recherche des
                        utilisateurs/ Management des projets /
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>