<header class="header">
    <nav>
      <div>
            <a routerLink="/accueil" class="logo-name"> <h3>Giusti Phetsavanh</h3></a>
                  <!-- <img  src="../assets/images/logo.svg" /></a> -->
      </div>
      <div class="links">
            <a routerLink="/accueil" routerLinkActive="active"> <i class="fa fa-home" aria-hidden="true" ></i> Accueil</a>
            <!-- <ul> -->
            <a routerLink="/projets" routerLinkActive ="active"> <i class="fa fa-briefcase" aria-hidden="true" ></i> Projets</a>
                <!-- <a [routerLink]="['/webdesign']"> (webdesign) </a>
                <a [routerLink]="['/sportbakstore']"> (wecommerce) </a>
                <a [routerLink]="['/graphicdesign']"> (graphicdesign) </a> -->
            <a routerLink="/about" routerLinkActive="active"><i class="fa fa-address-card-o" aria-hidden="true" ></i> Profil</a>
            <a href="../assets/cv/giustiphetsavanh.pdf" target="_blank"><button class="button-med" >CV</button></a>
      </div>
    </nav>
  </header>  
