<section class="accueil" [@explainerAnimLeft] >
 <div>
 
  <div class="info">
     <div class="info-left anime1">
        <h2 class="header-text">Bonjour! Je suis Phetsavanh</h2>
        <p class="high-light">Une développeuse web & designeuse UI/UX !!</p>
        <p class="text">Une développeuse web application Angular2+, passionnée de design et surtout de nouveaux challenges pour aider les autres à résoudre des problèmes dans leur création de marque, publicité, site e-commerce etc...
        </p>
        <a routerLink="/projets" class="buttom-info"><button class="button-project faanimate" >Découvrez mes projets... <i class="fa fa-arrow-circle-right" aria-hidden="true"> </i></button></a>
    </div>
    <div class="image anime1" >
        <!-- @fade -->
        <img class="image-accueil" src="../assets/images/mon-image1.png" />
    </div>
  </div>
  
    <div class="projets">
    <app-projets></app-projets>
    </div>
 </div>
</section>

